@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

html, body {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(254, 217, 197);
}

#mapa1, #mapa2, #mapa3, #mapa4, #mapa5, #mapa6 {
    width: 80%;
    height: 540px;
    display: inline-block;
    margin: auto;
    margin-bottom: 110px;
}

.carousel-control-prev, .carousel-control-next {
    width: 10%;
    
}

.row{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
}

#img1{
    max-height: 50px;
    width: auto;
}

#img2{
    max-height: 50px;
    width: auto;
}