@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

html, body {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(197, 208, 254);
}

#map {
    width: 100%;
    height: 500px;
}

.row {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
}

#img1 {
    max-height: 50px;
    width: auto;
}

#img2 {
    max-height: 50px;
    width: auto;
}