#map {
    width: 100%; 
    height: 700px;
}

body {
    background-color: rgb(228, 194, 194);
}

h5{
    color: rgb(116, 60, 60);
}

.img{
    max-height: 300px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}

.imgtop{
    width: 100%;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    display: block;

}