@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

html, body {
    font-family: 'Montserrat', sans-serif;
    font-size: large;

}

.table td,
.table tr {
    text-align: center;
}

thead{
    color: #84b28c;
}